@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
*{margin:0;padding:0;box-sizing:border-box;font-family:'Sunflower'}
a{color:#333;text-decoration: none}

html,body{width:100%;background:#fafafa;}

.wrap{width:100%}

/*header*/
.header{height:60px;border-bottom:1px solid #eee}
.header > h4{line-height:60px;margin-left:100px;}

.container > h6{;padding-bottom:15px;font-size:16px;}

/*content*/
.content{margin:0 auto;margin-bottom:25px;}

.content .card{width:300px;height:300px;border:0px;cursor:pointer;overflow:hidden;float:left;margin-right:20px;margin-bottom:20px;background:white;position:relative;}

.content .card > img{height:100%;object-fit:cover; }
.content .card > .back{display:none;width:100%;height:300px;line-height:280px;padding:10px;position:absolute;top:0;left:0;background:rgba(0,0,0,0.5);}
.content .card > .back p{margin:0;width:100%;height:240px;overflow:hidden;text-overflow: ellipsis;line-height:1.5;display:inline-block;vertical-align:middle;word-break:break-all;font-weight:bold;color:white;}
.content .card > .back a{position:absolute;top:0;right:0;font-weight:bold;color:white;}
.content .card > .back a:hover{text-decoration:underline;}
.content .card:hover .back{display:block;}

.pop{display:none;overflow:hidden;width:100%;height:100%;position:fixed;z-index:999;top:0;left:0;background:rgba(0,0,0,0.7);}
.pop .box{height:auto;overflow:hidden;margin:0 auto;top:50%;background:white;position:relative;}
.pop .box img{display:block;float:left;}
.pop .box p{width:300px;padding:10px;font-weight:bold;word-break:break-all;float:right;}

/* search hash_tag */
.hashtag_box{display:none;width:230px;height:180px;background:white;overflow-y:scroll;position:absolute;bottom:-180px;z-index:999;}
.hashtag_box > .box{display:block;border-bottom:1px solid #efefef;width:100%;height:60px;text-align:center;}
.hashtag_box > .box > div{padding:10px;}
.hashtag_box > .box > div .hashtag{cursor:pointer;float:left;width:30px;height:100%;font-size:26px;font-style:italic;color:#cbcdce;}
.hashtag_box > .box > div .top{color:#333;width:calc(100% - 30px);padding-left:15px;font-size:14px;font-weight:bold;text-align:left;float:left;}
.hashtag_box > .box > div .bottom{width:calc(100% - 30px);padding-left:15px;font-size:14px;text-align:left;float:left;}

@media (min-width: 1200px){
.container{max-width:1000px !important;}
}
/*max-width:100%;max-height:100%;*/