<!--        content-->
<div class="pop">
	<div class="box">
		<img src="" alt="">
		<p></p>
	</div>
</div>
    <div class="container">
        <h6><%= data=='' ? '아직 게시물이 존재하지 않습니다.' : '둘러보기' %></h6>
        <div class="content">
<!--           card-->

		<% data.forEach(function(value,index){ %>
            <div class="card">
                <img src="./product/<%=value.img;%>" alt="img">
                <div class="back">
                	<p>
	                <% value.tag.forEach(function(value,index){ %>
	                	<%= value%>
	                <% }); %>
	                </p>
	                <a href="/product/delete?id=<%=value.id%>" class="btn">삭제</a>
                </div>
            </div>
         <% },function(){
            asd
         });%>
           
         
<!--            card end-->
        </div>
    </div>
 <!-- content end -->

